#root {

  --gradient: linear-gradient(90deg, #1dcf00, #1f850f, #6dd089 );

  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


body {
  background-size: 300%;
  background: var(--gradient);
  animation: bg-animation 25s infinite;
}

@keyframes bg-animation {
  0% {background-position: left}
  50% {background-position: right}
  100% {background-position: left}
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
